body{
    background-color: white;
}

.cabecalho{
    background-color: #9CBA86;
}

.titulo{
    color: #353D2F;
    background-color: #9CBA86;
    font-size: 2em;
    text-align: center;
}

.tabela-titulo{
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
}

.formulario_notas{
    font-size: 20px;
    display: flex;
    flex-flow:nowrap;
 }

.frequencia{
    font-size: 20px;
    display: flex;
}

.nome{
    font-size: 20px;
}

.adicionar{
    background-color: #9CBA86;
    border: black;
    border-radius: 6px;
    color: #353D2F;
    text-align: center;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 0.5%;
}

.tabela2{
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: 10px;
}